<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<!-- %% -->
<!-- %A  module.msk                   GAP documentation              Thomas Breuer -->
<!-- %% -->
<!-- %A  @(#)<M>Id: module.msk,v 1.12 2002/04/15 10:02:30 sal Exp </M> -->
<!-- %% -->
<!-- %Y  (C) 1998 School Math and Comp. Sci., University of St Andrews, Scotland -->
<!-- %Y  Copyright (C) 2002 The GAP Group -->
<!-- %% -->
<Chapter Label="Modules">
<Heading>Modules</Heading>


<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<Section Label="Generating modules">
<Heading>Generating modules</Heading>

<#Include Label="IsLeftOperatorAdditiveGroup">
<#Include Label="IsLeftModule">
<#Include Label="GeneratorsOfLeftOperatorAdditiveGroup">
<#Include Label="GeneratorsOfLeftModule">
<#Include Label="AsLeftModule">
<#Include Label="IsRightOperatorAdditiveGroup">
<#Include Label="IsRightModule">
<#Include Label="GeneratorsOfRightOperatorAdditiveGroup">
<#Include Label="GeneratorsOfRightModule">
<#Include Label="LeftModuleByGenerators">
<#Include Label="LeftActingDomain">

</Section>


<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<Section Label="Submodules">
<Heading>Submodules</Heading>

<#Include Label="Submodule">
<#Include Label="SubmoduleNC">
<#Include Label="ClosureLeftModule">
<#Include Label="TrivialSubmodule">

</Section>


<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<Section Label="Free Modules">
<Heading>Free Modules</Heading>

<#Include Label="IsFreeLeftModule">
<#Include Label="FreeLeftModule">
<#Include Label="Dimension">
<#Include Label="IsFiniteDimensional">
<#Include Label="UseBasis">
<#Include Label="IsRowModule">
<#Include Label="IsMatrixModule">
<#Include Label="IsFullRowModule">
<#Include Label="FullRowModule">
<#Include Label="IsFullMatrixModule">
<#Include Label="FullMatrixModule">

</Section>
</Chapter>


