# set clone depth
clone_depth: 5                  # clone entire repository history if not defined

environment:
  CFLAGS: "-fprofile-arcs -ftest-coverage"
  LDFLAGS: "-fprofile-arcs"
  TEST_SUITE: testinstall
  BUILDDIR: .
  matrix:
    - CYG_ARCH: x86
      CYG_ROOT: C:\cygwin
      ABI: 32
    - CYG_ARCH: x86_64
      CYG_ROOT: C:\cygwin64
    - CYG_ARCH: x86
      CYG_ROOT: C:\cygwin
      ABI: 32
      HPCGAP: yes
    - CYG_ARCH: x86_64
      CYG_ROOT: C:\cygwin64
      HPCGAP: yes

cache:
  - bootstrap-pkg-full.tar.gz

install:
  - '%CYG_ROOT%\setup-%CYG_ARCH%.exe -qnNdO -R %CYG_ROOT% -s http://cygwin.mirror.constant.com -l %CYG_ROOT%/var/cache/setup -P libgmp-devel'

# scripts that run after cloning repository
build_script:
  - SET "PATH=%CYG_ROOT%\bin;%PATH%"
  - bash -lc "cd $APPVEYOR_BUILD_FOLDER && ./etc/ci-prepare.sh"

test_script:
  - bash -lc "rm $APPVEYOR_BUILD_FOLDER/tst/testinstall/timeout.tst" # HACK
  - bash -lc "cd $APPVEYOR_BUILD_FOLDER && ./etc/ci.sh"

on_success:
  - curl -s https://codecov.io/bash > codecov.sh
  - bash -lc "cd $APPVEYOR_BUILD_FOLDER && ./codecov.sh"
