/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/cnf/GAP-VERSION-FILE
/cnf/ar-lib
/cnf/compile
/cnf/config.guess
/cnf/config.sub
/cnf/depcomp
/cnf/install-sh
/cnf/ltmain.sh
/cnf/m4/libtool.m4
/cnf/m4/ltoptions.m4
/cnf/m4/ltsugar.m4
/cnf/m4/ltversion.m4
/cnf/m4/lt~obsolete.m4
/cnf/missing
/config.log
/config.status
/configure
/libtool
/src/.deps/
/src/.dirstamp
/src/config.h.in
/src/config.h
/src/stamp-h1
/src/*.o
/src/hpc/.deps/

/src/gap_version.h

bin/gap*.sh
bin/*-*/

doc/manualbib.xml.bib
doc/*/*.html
doc/*/*.txt
doc/*/*.css
doc/*/*.js
doc/*/*.aux
doc/*/*.bbl
doc/*/*.blg
doc/*/*.brf
doc/*/*.idx
doc/*/*.ilg
doc/*/*.ind
doc/*/*.log
doc/*/*.out
doc/*/*.pnr
doc/*/*.tex
doc/*/*.toc
doc/*/make_manuals.out
doc/*/manual*.pdf
doc/*/manual.lab
doc/*/manual.pdf
doc/*/manual.six

pkg/
extern/gmp*/
bootstrap-pkg-minimal.tar.gz
bootstrap-pkg-full.tar.gz


dev/log

*.core
*.rej
*.orig
doc/gapmacrodoc.aux
doc/gapmacrodoc.example-1.tst
doc/gapmacrodoc.idx
doc/gapmacrodoc.dvi
doc/gapmacrodoc.lab
doc/gapmacrodoc.log
doc/gapmacrodoc.pdf
doc/gapmacrodoc.six
doc/gapmacrodoc.synctex.gz
doc/gapmacrodoc.toc
doc/wsp.g

src/TAGS
