Makefile
Makefile-*
config.log
config.status
sysinfo.gap
sysinfo.gap*

bin/gap*.sh
bin/*-*/

doc/manualbib.xml.bib
doc/*/*.html
doc/*/*.txt
doc/*/*.css
doc/*/*.js
doc/*/*.aux
doc/*/*.bbl
doc/*/*.blg
doc/*/*.brf
doc/*/*.idx
doc/*/*.ilg
doc/*/*.ind
doc/*/*.log
doc/*/*.out
doc/*/*.pnr
doc/*/*.tex
doc/*/*.toc
doc/*/make_manuals.out
doc/*/manual*.pdf
doc/*/manual.lab
doc/*/manual.pdf
doc/*/manual.six

pkg/
extern/gmp*/
bootstrap-pkg-minimal.tar.gz
bootstrap-pkg-full.tar.gz


dev/log

*.core
*.rej
*.orig
doc/gapmacrodoc.aux
doc/gapmacrodoc.example-1.tst
doc/gapmacrodoc.idx
doc/gapmacrodoc.dvi
doc/gapmacrodoc.lab
doc/gapmacrodoc.log
doc/gapmacrodoc.pdf
doc/gapmacrodoc.six
doc/gapmacrodoc.synctex.gz
doc/gapmacrodoc.toc
