Alexander Konovalov <alexk@mcs.st-andrews.ac.uk> <alex-konovalov@users.noreply.github.com>
Burkhard Höfling <bh11@users.noreply.github.com>
Chris Jefferson <caj21@st-andrews.ac.uk>
Frank Lübeck <frank.luebeck@math.rwth-aachen.de> <Frank.Luebeck@math.rwth-aachen.de>
Markus Pfeiffer <markus.pfeiffer@st-andrews.ac.uk> <markus.pfeiffer@morphism.de>
Markus Pfeiffer <markus.pfeiffer@st-andrews.ac.uk> <markuspf@users.noreply.github.com>
Markus Pfeiffer <markus.pfeiffer@st-andrews.ac.uk> <markusp@mcs.st-andrews.ac.uk>
Max Horn <max@quendi.de> <max.horn@math.uni-giessen.de>
Max Neunhöffer <neunhoef@mcs.st-and.ac.uk>
James Mitchell <jdm3@st-and.ac.uk> <jdm3@st-andrews.ac.uk>
James Mitchell <jdm3@st-and.ac.uk> <james-d-mitchell@users.noreply.github.com>
James Mitchell <jdm3@st-and.ac.uk> <jenkyfunds@gmail.com>
John McDermott <jjm@mcs.st-andrews.ac.uk> <jjm@mcs.st-and.ac.uk>
Steve Linton <steve.linton@st-andrews.ac.uk>
Steve Linton <steve.linton@st-andrews.ac.uk> <sal@cs.st-andrews.ac.uk>
Steve Linton <steve.linton@st-andrews.ac.uk> <ab8e9259@opayq.com>
Willem de Graaf <degraaf@science.unitn.it> <degraaf9@gmail.com>
