language: c
matrix:
  include:
    - os: linux
      env: TEST_SUITE=testinstall CFLAGS="-fprofile-arcs -ftest-coverage" LDFLAGS="-fprofile-arcs"
      compiler: gcc
      addons:
        apt_packages:
          - libgmp-dev
      after_success:
          - bash <(curl -s https://codecov.io/bash)
    - os: linux
      env: TEST_SUITE=testtravis CFLAGS="-fprofile-arcs -ftest-coverage" LDFLAGS="-fprofile-arcs"
      compiler: gcc
      addons:
        apt_packages:
          - libgmp-dev
      after_success:
          - bash <(curl -s https://codecov.io/bash)
    - os: osx
      env: TEST_SUITE=testtravis CFLAGS="-fprofile-arcs -ftest-coverage" LDFLAGS="-fprofile-arcs"
      compiler: clang
      addons:
        apt_packages:
         - libgmp-dev
      after_success:
          - bash <(curl -s https://codecov.io/bash)
    - os: linux
      env: TEST_SUITE=testbugfix CFLAGS="-fprofile-arcs -ftest-coverage" LDFLAGS="-fprofile-arcs"
      compiler: gcc
      addons:
        apt_packages:
         - libgmp-dev
      after_success:
          - bash <(curl -s https://codecov.io/bash)
    - os: linux
      env: TEST_SUITE=makemanuals
      compiler: gcc
      addons:
        apt_packages:
         - libgmp-dev
         - texlive-latex-base
         - texlive-latex-recommended
         - texlive-latex-extra
         - texlive-extra-utils
         - texlive-fonts-recommended
         - texlive-fonts-extra
    - os: linux
      env: TEST_SUITE=testtravis ABI=32 CFLAGS="-fprofile-arcs -ftest-coverage -m32" LDFLAGS="-fprofile-arcs"
      compiler: gcc
      addons: 
        apt_packages:
          - libgmp-dev:i386
          - gcc-multilib
          - g++-multilib
      after_success:
          - bash <(curl -s https://codecov.io/bash)

script:
  - ./configure --with-gmp=system
  - make config
  - make -j4
  - make bootstrap-pkg-full
  - bash etc/ci.sh
