language: c

env:
  global:
    - CFLAGS="-fprofile-arcs -ftest-coverage"
    - LDFLAGS="-fprofile-arcs"

matrix:
  include:
    # 64bit linux builds with GCC
    - os: linux
      env: TEST_SUITE=testinstall
      compiler: gcc
      addons:
        apt_packages:
          - libgmp-dev

    - os: linux
      env: TEST_SUITE=testtravis
      compiler: gcc
      addons:
        apt_packages:
          - libgmp-dev

    - os: linux
      env: TEST_SUITE=testmanuals
      compiler: gcc
      addons:
        apt_packages:
          - libgmp-dev

    - os: linux
      env: TEST_SUITE=testbugfix
      compiler: gcc
      addons:
        apt_packages:
          - libgmp-dev

    # OS X builds: since those are slow and limited on Travis,
    # we only run testinstall for now
    - os: osx
      env: TEST_SUITE=testinstall
      compiler: clang
      addons:
        apt_packages:
          - libgmp-dev

    # test creating the manual
    - os: linux
      env: TEST_SUITE=makemanuals
      compiler: gcc
      addons:
        apt_packages:
          - libgmp-dev
          - texlive-latex-base
          - texlive-latex-recommended
          - texlive-latex-extra
          - texlive-extra-utils
          - texlive-fonts-recommended
          - texlive-fonts-extra

    # 32bit linux builds with GCC
    - os: linux
      env: TEST_SUITE=testinstall ABI=32
      compiler: gcc
      addons:
        apt_packages:
          - libgmp-dev:i386
          - gcc-multilib
          - g++-multilib

    - os: linux
      env: TEST_SUITE=testtravis ABI=32
      compiler: gcc
      addons:
        apt_packages:
          - libgmp-dev:i386
          - gcc-multilib
          - g++-multilib

after_success:
  - bash <(curl -s https://codecov.io/bash)

script:
  - ./configure --with-gmp=system
  - make config
  - make -j4
  - make bootstrap-pkg-full
  - bash etc/ci.sh

notifications:
  slack:
    secure: Nvt9q2kZ/n7HyFeEYt7rvXMBLIR3AqSbQ54UeoU2UFrF+y0vJONChfa0csneyXPApH+objSUgS8ZW3g4gRiKtnO1jzQq9XDe895HtadY4vxYrduRLiwqI4o0k9KFVBPX7uIUXT22qIaAYBFC93m36zQKIAVDFzYuPoQfTWY3Yww=
