/* leftmenu.css                                              Frank Lübeck */
/* Change default CSS to show section menu on left side */

body { 
  padding-left: 28%;
}
body.chap0 {
  padding-left: 2%;
}
div.ChapSects div.ContSect:hover div.ContSSBlock {
  left: 15%;
} 
div.ChapSects {
  left: 1%;
  width: 25%;
}

