/* ####################################################################### */
/* ##                                                                   ## */
/* ##  lists.css        GAP Mailing List Style File        Stefan Kohl  ## */
/* ##                                                                   ## */
/* ####################################################################### */

body {
  background: #CCFFFF;
  color:      #000000;

  margin-top:     1cm;
  margin-bottom:  1cm;
  margin-left:    1cm;
  margin-right:   1cm;

  font-family: Helvetica,Verdana,Arial,sans-serif;
}


h1 { font-size:  x-large;
     text-align: center;
     color:      #000000;
     margin-bottom: 8mm; }

h2 { font-size:  large;
     text-align: center;
     color:      #000000;
     margin-bottom: 8mm; }

table.list { background: #FFFFFF;
             margin-bottom: 15mm; }

a:link    { color: #0000AE; text-decoration: none; }
a:visited { color: #0000AE; text-decoration: none; }
a:active  { color: #000000; text-decoration: none; }

/* ####################################################################### */
