body {
background-image: url(background.jpg); 
margin-top: 0px;

}
a:link{color:#006699;}
a{text-decoration:none}
a:hover {  text-decoration:none}
a:visited{color:#006699;}

.tborde 
{ 
border: 1px solid #222;
} 
h4 {

	border-bottom: 1px solid #666;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: black;
}
#navi {	
	margin-left: 0;	padding-left: 0;
list-style-type: none;
font-size: 70%;
	font-family: Verdana, Arial, Helvetica, sans-serif;

}

#navcontainer
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 65%;
a{text-decoration:none
a:hover {  text-decoration:underline;}



	





