# For information about the parts of this workflow,
# see <https://github.blog/changelog/2022-07-27-github-pages-custom-github-actions-workflows-beta/>
# and <https://github.com/actions/starter-workflows/tree/main/pages>
name: Deploy GAP manual to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          packages=(
              libgmp-dev
              libreadline-dev
              zlib1g-dev
              texlive-latex-base
              texlive-latex-recommended
              texlive-latex-extra
              texlive-fonts-recommended
          )
          sudo apt-get update
          sudo apt-get install --no-install-recommends "${packages[@]}"
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure GAP
        run: |
          ./autogen.sh && ./configure
      - name: Build GAP
        run: |
          make -j4
      - name: Download minimal packages
        run: |
          make bootstrap-pkg-minimal
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v2
      - name: Build GAP manuals
        run: |
          make html # we are only interested in the HTML version
      - name: Bundling GAP manuals for deployment
        run: |
          set -e
          for book in dev hpc ref tut ; do
            mkdir -p public/doc/$book/
            mv doc/$book/*.{html,css,js} public/doc/$book/
          done
          mv doc/dev/bigpic.* public/doc/dev/
          cp dev/index.html public/
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./public

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
