/* gapdoc.css        Frank Lübeck */
/* $Id$  */


/* basic settings */
body { 
  position: relative;
  background: #ffffff; 
  color: #000000; 
/*  background-image: url(gapdoc.jpg);
  margin-top: 15px; 
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px; */
  width: 70%;
  margin: 0pt;
  padding: 15pt;
  font-family: Helvetica,Verdana,Arial,sans-serif;
  text-align: justify;
}

body.wide {
    width: auto;
}

h1 { font-size: 200%; }
h2 { font-size: 160%; }
h3 { font-size: 160%; }
h4 { font-size: 130%; }
h5 { font-size: 100%; }

div.foot {
  font-size: 60%;
  font-style: normal;
}

a:link { 
  color: #00008e; 
  text-decoration: none; 
}
a:visited { 
  color: #00008e; 
  text-decoration: none; 
}
a:active { 
  color: #000000; 
  text-decoration: none; 
}

/* general alignment classes */
.pcenter {
  text-align: center;
}

.pleft {
  text-align: left;
}

.pright {
  text-align: right;
}

/* layout for the Func-like elements  */
div.func {
  background-color: #dddddd; 
  margin: 0pt 0pt; 
}


/* general and special table settings */
table {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border-collapse: collapse;
  border-style: none;
} 

table.func { 
  padding: 0pt 1ex; 
  margin-left: 1ex;
  margin-right: 1ex;
  background-color: transparent;
  /* line-height: 1.1; */ 
  width: 100%; 
}

/* Example elements */

div.example {
    font-size: 90%;
    background-color: #dddddd; 
    overflow-x: auto;
}

/* links to chapters in all files */
/* if there are too many chapters then use 'display: none' here */
div.chlinktop {
  display: none;
  background-color: #dddddd; 
  border-style: solid; 
  border-width: thin;  
  margin: 2px;
  text-align: center;
  /* width: 100%;  */
}

div.chlinktop a {
}

div.chlinkbot {
  background-color: #dddddd; 
  border-style: solid; 
  border-width: thin;  
  margin: 2px;
  text-align: center;
  /* width: 100%;  */
}

div.chlinkbot a {

}

span.chlink1 {
}

/* and this is for  the "Top", "Prev", "Next" links */
div.chlinkprevnexttop {
  background-color: #dddddd; 
  border-style: solid; 
  border-width: thin;  
  text-align: center;
  margin: 2px;
  /* width: 100%;  */
}

div.chlinkprevnexttop a {
  background-color: #dddddd;
}

div.chlinkprevnextbot {
  background-color: #dddddd; 
  border-style: solid; 
  border-width: thin;  
  text-align: center;
  margin: 2px;
  /* width: 100%;  */
}

div.chlinkprevnextbot a {
  background-color: #dddddd;
}


/* table of contents */
div.ContSSBlock {
  display: none;
}

div.ContSSBlock br {
  display: none;
}

/* this is for the main table of contents */

div.ContChap {
}

div.ContChap p, div.ContChapSectOff p {
margin-top: 0.25em;
margin-bottom: 0.25em;
padding-left: 2.4em;
text-indent: -2.4em;
}


div.ContChap a {
  width: 100%;
}



div.ContSS {
  text-align: left;
  margin-left: 3.4em;
}

div.ContSect p , div.ContSectSubsectOn p {
  text-align: left;
  margin-left: 1.4em;
  padding-left: 3.4em;
  text-indent: -3.4em
}


div.ContSectSubsectOn div.ContSSBlock {
    display: block;
}


div.ContChapSectOff > p > img.open {
    display: none;
}

div.ContChapSectOff > p > img.closed {
    display: inline;
}

div.ContSect > p > img.open {
    display: none;
}

div.ContChap > p > img.closed {
    display: none;
}

div.ContChap > p > img.open {
    display: inline;
}

div.ContChapSectOff div {
    display: none;
}


div.ContSect > p > img.closed {
    display: inline;
}

div.ContSectSubsectOn > p > img.closed {
    display: none;
}

div.ContSectSubsectOn > p >  img.open {
    display: inline;
}


/* and for the side menu of contents in the chapter files */

div.ChapSects {
    background-color: #ffffff;
    z-index: 100;
}

div.ChapSects div.ContSect, div.ChapSects div.ContSectSubsectOn {
  margin-left: 0.5em;
}

div.ChapSects div.ContSS {
  margin-left: 2.5em;
}

div.ChapSects {
  position: fixed;
  left: 75%;
  font-size: 80%;
  overflow-y: auto;
  top: 10px;
  bottom: 0px;
}

div.ChapSects p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-left: 3em;
    text-indent: -3em;
}

div.ChapSects > p > img.closed {
    display: none;
}

div.ChapSects > p > img.open {
    display: none;
}



/* Table elements */
table.GAPDocTable {
  border-collapse: collapse;
  border-style: none;
  border-color: black;
}

table.GAPDocTable  td, table.GAPDocTable  th {
  padding: 3pt;
  border-width: thin;
  border-style: solid;
  border-color: #555555;
}

caption.GAPDocTable {
  caption-side: bottom;
  width: 70%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

td.tdleft {
  text-align: left;
}

table.GAPDocTablenoborder {
  border-collapse: collapse;
  border-style: none;
  border-color: black;
}

table.GAPDocTablenoborder  td, table.GAPDocTable  th {
  padding: 3pt;
  border-width: 0pt;
  border-style: solid;
  border-color: #555555;
}

caption.GAPDocTablenoborder {
  caption-side: bottom;
  width: 70%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

td.tdleft {
  text-align: left;
}

td.tdright {
  text-align: right;
}

td.tdcenter {
  text-align: center;
}

/* general settings */
pre { 
  font-family: Courier,"Courier New",monospace; 
  font-size: 100%; 
  margin: 1ex;
  color:#000000; 
}

tt,code, var { 
  font-family: Courier,"Courier New",monospace; 
  /* font-size: 110%; */
}

code {
/*  font-weight: bold; */
}

var, em {
  color: #006633;
}

/* may be overwritten for some types of elements  */
/* Verb elements */
pre.normal {
  color: #000000;
}

/* Func-like  elements and Ref to Func-like */
code.func {
  color: #000000;
}

/* K elements */
code.keyw {
  color: #000000;
}

/* F elements */
code.file {
  color: #000000;
}

/* C elements */
code.code {
}

/* Item elements */
code.i {
}

/* Button elements */
strong.button {
}

/* Headings  */
span.Heading {
}

/* Arg elements */
var.Arg {
  font-family: Helvetica,Verdana,Arial,sans-serif;
  font-style: italic;
}

/* Example elements, is in tables, see above */
div.Example {
}

/* Package elements */
strong.pkg {
}

/* URL-like  elements */
span.URL {
}

/* Lists with Mark elements */
dl.List, dl.List p {
   margin: 0px;
}

/* Mark elements */
strong.Mark {
}

/* Ref elements */
b.Ref {
}

/* this contains the contents page */
div.contents {
}

/* this contains the index page */
div.index {
}

/* ignore some text for non-css layout */
span.nocss {
  display: none;
}

b.Bib_author {
  font-weight: normal;
}

span.SimpleMath, span.Math {
  font-style: italic;
}

em.Bib_volume {
    color: #000000;
}